{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Student Home - Schoolify</title>
        <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
        <link rel="stylesheet" href="{% static "assets/fonts/font-awesome.min.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
        <link rel="stylesheet" href="{% static "assets/style.css" %}">
        <style>
            table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                border: 1px solid #ddd;
            }

            th, td {
                text-align: left;
                padding: 16px;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            }

            input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            }

            input[type=submit]:hover {
            background-color: #45a049;
            }

            #issue {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            width: 50%;
            margin-left:25%;
            margin-right:25%;
            }


        </style>
    </head>
    <body id="page-top">
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="background-color: black;">
            <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Schoolify</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#details">Details</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#records">School Records</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'cart' %}">E-Store</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'ml' %}">Predictor</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'index' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col offset-lg-8 mx-auto text-center">
                        <h2 class="text-white section-heading">We've got what you need!</h2>
                        <hr class="light my-4">
                        <p class="text-faded mb-4"></p><a class="btn btn-light btn-xl js-scroll-trigger"
                            role="button" href="#details">Get Started!</a></div>
                </div>
            </div>
        </section>
        <div id = "details" class="jumbotron text-center" style="background-color: white; text-align: left;">
            <h1 style="text-align: center;">Details</h1>
            <div class = "row">

                <div class = "col-sm-6" style="text-align: left; padding: 3%;">
                    <h2>Name: Riya Verma</h2>
                    <h2>Father's name: Mr Aryan Verma</h2>
                    <h2>Mother's name: Ms Arundhati Verma</h2>
                </div>
                <div class = "col-sm-6" style="text-align: left; padding: 3%;">
                    <h2>Admission ID: 341233</h2>
                    <h2>Email Address: rriya_verma@gmail.com</h2>
                    <h2>School: D.P.S Indirapuram</h2>
                </div>
            </div>
        </div>
        <div id="records" class="jumbotron text-center" style="background-color: white; text-align: left;">
            <h1 style="text-align: center;">Attendance</h1>
            <div class = "row">

                <div class = "col-sm-6" style="text-align: left; padding: 3%;">
                    <h2>Total Working Days: 214</h2>
                    <h2>Days attended: 189</h2>
                    <h2>Half days: 6</h2>
                </div>
                <div class = "col-sm-6" style="text-align: left; padding: 3%;">
                    <h2>Admission ID: 341233 </h2>
                    <h2>Days missed: 19</h2>
                    <h2>Total attendance: 192/214</h2>
                </div>
            </div>

        </div>
        <div class="jumbotron text-center" style="background-color: white; text-align: left;">
            <h1 style="text-align: center;">Mark Sheet - Academics</h1>
            <div class = "row">

                <div class = "col-sm-12" style="text-align: left; padding: 3%;">
                    <table>
                        <tr>
                            <th>Subject</th>
                            <th>Mid Term</th>
                            <th>Final Term</th>
                        </tr>
                        <tr>
                            <td>English</td>
                            <td>40/50</td>
                            <td>95/100</td>
                        </tr>
                        <tr>
                            <td>Mathematics</td>
                            <td>50/50</td>
                            <td>100/100</td>
                        </tr>
                        <tr>
                            <td>Hindi</td>
                            <td>37/50</td>
                            <td>87/100</td>
                        </tr>
                        <tr>
                            <td>Science</td>
                            <td>48/50</td>
                            <td>100/100</td>
                        </tr>
                        <tr>
                            <td>Social Science</td>
                            <td>43/50</td>
                            <td>92/100</td>
                        </tr>
                    </table>

                </div>

            </div>

        </div>
        <div class="jumbotron text-center" style="background-color: white; text-align: left;">
            <h1 style="text-align: center;">Mark Sheet - Co-curricular</h1>
            <div class = "row">

                <div class = "col-sm-12" style="text-align: left; padding: 3%;">
                    <table>
                        <tr>
                            <th>Subject</th>
                            <th>Mid Term</th>
                            <th>Final Term</th>
                        </tr>
                        <tr>
                            <td>Behaviour</td>
                            <td>A+</td>
                            <td>A+</td>
                        </tr>
                        <tr>
                            <td>Sports</td>
                            <td>A</td>
                            <td>A++</td>
                        </tr>
                        <tr>
                            <td>Discipline</td>
                            <td>A</td>
                            <td>B+</td>
                        </tr>
                        <tr>
                            <td>Yoga</td>
                            <td>B+</td>
                            <td>A</td>
                        </tr>
                    </table>

                </div>

            </div>

        </div>
        <div id="issue">
            <h2 style="text-align: center;">Raise an issue!</h2>
            <form action="/action_page.php">
                <label for="sub">Subject of the issue</label>
                <input type="text" id="sub" name="Subject" placeholder="Type here..">

                <label for="Concerned Dept">Concerned Dept.</label>
                <select id="country" name="country">
                    <option value="Teaching">Teaching</option>
                    <option value="Financial">Financial</option>
                    <option value="Logistics">Logistics</option>
                    <option value="Security">Security</option>
                    <option value="Other">Other</option>
                </select>

                <label for="subject">Please provide a detailed description</label>
                <textarea id="subject" name="subject" placeholder="Type here.." style="height:200px"></textarea>

                <input type="submit" value="Submit">
            </form>
        </div>

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading">Let's Get In Touch!</h2>
                        <hr class="my-4">
                        <p class="mb-5">Ready to digitalize your school with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center"><i class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-once="true"></i>
                        <p>123-456-6789</p>
                    </div>
                    <div class="col-lg-4 mr-auto text-center"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true"></i>
                        <p><a href="mailto:your-email@your-domain.com">email@example.com</a></p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
